*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
}

.hero{
    height:100vh;

    background:
    linear-gradient(
        rgba(0,0,0,.65),
        rgba(0,0,0,.8)
    ),
    url('city-bg.jpg');

    background-size:cover;
    background-position:center;

    position:relative;

    overflow:hidden;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:30px 80px;

    color:white;
}

.logo{
    font-size:1.4rem;
    font-weight:600;
    letter-spacing:1px;
}

nav ul{
    display:flex;
    gap:40px;

    list-style:none;
}

nav li{

    cursor:pointer;

    font-family:'Poppins', sans-serif;

    letter-spacing:1px;

    transition:.3s;
}

nav li:hover{

    color:#ff2a2a;
}

.content{
    color:white;

    position:absolute;

    left:100px;
    top:50%;

    transform:translateY(-50%);

    z-index:5;
}

.content h1{
    font-family:'Teko', sans-serif;

    font-size:8rem;

    letter-spacing:4px;

    line-height:.9;

    color:white;

    text-shadow:
        0 0 20px rgba(255,0,0,.3),
        0 0 40px rgba(255,0,0,.2);
}


.content h2{

    color:#ff2b2b;

    margin-bottom:10px;

    letter-spacing:3px;

    font-size:1.2rem;

    font-weight:600;

    text-transform:uppercase;
}

.content p{
    max-width:500px;

    line-height:1.8;
}

.buttons{
    margin-top:30px;

    display:flex;

    gap:20px;
}

button{
    padding:15px 30px;

    border:none;

    border-radius:10px;

    background:#ff2020;

    color:white;

    cursor:pointer;

    box-shadow:
        0 0 10px #00BFFF,
        0 0 10px #00BFFF;
        0 0 40px rgba(0,191,255,.4);
}

button:hover{
    transform:translateY(-3px);
}

.miles{
    position:absolute;

    top:240px;

    left:860px;

    width:240px;

    z-index:4;
}
.spider-logo{
    position:absolute;

    width:350px;

    left:120px;

    top:120px;

    opacity:.2;

    z-index:1;
}

.accent-line{
    width:450px;

    height:4px;

    background:#ff2a2a;

    margin:20px 0;

    box-shadow:
        0 0 8px red,
        0 0 15px red;
}
